<div class="row m-auto p-5 align-middle">

  <div class="col-lg-6 mb-4">
    <img src="../../assets/img/logo-ptn.png" class="card-img bg-dark" alt="">
    <div class="fw-bold mt-3">
      <ngtypewriter [StringList]='list' [speed]='1000'></ngtypewriter>
    </div>
  </div>

  <div class="form-container col-lg-6">
    <form action="" id="form">
      <h3>Connexion</h3>

      <p>Login</p>
      <div class="form-group">
        <input type="text" placeholder="Login" class="form-control"
          name="login"
          [(ngModel)]="adminAccess.login" /><br>
      </div>

      <p>Mot de passe</p>
      <div class="form-group">
        <input type="password" placeholder="Mot de passe" class="form-control"
          name="password"
          [(ngModel)]="adminAccess.password" />
      </div>
      <br>

      <!-- <input type="submit" value="Se connecter" (click)="connection()"> -->
      <button class="btn btn-info col-md-12" (click)="connection()">Connexion</button>
    </form>
  </div>

</div>
